//======================================
// frame
//======================================

/* body */
.body {
  @extend .cf;
  max-width: $body-width;
  margin: 0 auto;
  posigion: relative;
  color: $coffee;
}

.gradientbg {
  background-color: $aulait;
  background: -moz-linear-gradient(315deg, $white 25%, $aulait 25%, $aulait 50%, $white 50%, $white 75%, $aulait 75%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, $white), color-stop(0.25, $white), color-stop(0.25, $aulait), color-stop(0.50, $aulait), color-stop(0.50, $white), color-stop(0.75, $white), color-stop(0.75, $aulait), color-stop(1, $aulait));
  -moz-background-size: 60px 60px;
  -webkit-background-size: 60px 60px;
  background-size: 60px 60px;
}

/* header */
.pageTitle {  
  position: absolute;
  top: -40px;
  z-index: -1;
  @extend .altehaasgroteskbold;
  font-size: 120px;
  color: $coffee;
}
form.search {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: $latte-margin;
  text-align: right;
  input::-webkit-input-placeholder, 
  input:-moz-placeholder, 
  input[placeholder] {
    color: $aulait;
  }
  input{
    padding: $latte-margin;
    width: $latte-size - ($latte-margin * 2) - 2;
    border: 1px solid $aulait;
    color: $coffee;
    font-size: large;
  }
}

/* content */
.contentUnit {
  float: left;
  width: $content-unit-width;
  margin-left: $m1;
}
.title {
  @extend .berkshire;
}
.socialLink {
  float: left;
  margin: 10px 0 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0 10px 0 0;
    list-style: none;
    float: left;
  }
  a {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -1000px;
  }
  #gh {
    background: url(../img/social-icons.png) 0 0 no-repeat;
  }
  #fr {
    background: url(../img/social-icons.png) 0 -96px no-repeat;
  }
  #tw {
    background: url(../img/social-icons.png) 0 -64px no-repeat;
  }
  #gp {
    background: url(../img/social-icons.png) 0 -32px no-repeat;
  }
  #in {
    background: url(../img/social-icons.png) 0 -128px no-repeat;
  }
}

/* footer */
.footer {
  margin: $m1 auto;
  padding: $m1 0;
  max-width: $body-width;
  background-color: $white;
  @extend .cf;
}


