@import "base";
@import "frame";

//======================================
// index.html
//======================================

/* latte layout */
.latte{
	position: relative;
	float: left;
	width: $latte-size;
	height: $latte-size;
	margin: $latte-margin;
  border: 1px solid $aulait !important;
	padding: 0;
	overflow: hidden;
	border: 0;
	background-color: $white;
	.entryImage {
		top: round(-$latte-size/6);
		width: $latte-size;
	}
}
.latte:hover {
  box-shadow: 0 0 3px 1px $coffee;
}
.entryImage {
	position: absolute;
}
.entryTitle {
	position: absolute;
	margin: 0;
	padding: 0 5px 0 0;
	bottom: 5px;
	left: 5px;
	color: $white;
	font-size: x-small;
}	

/* media queries */

@media (max-width: 320px) {
  .pageTitle {
    position: static !important;
    font-size: 40px !important;
  }
  form.search {
    margin: 0 !important;
    text-align: left !important;
  }
  $latte-size: 146px;
  .latte {
    width: $latte-size;
    height: $latte-size;
    .entryImage {
      top: round(-$latte-size/6);
      width: $latte-size;
    }
  }
}

@media (min-width: 321px) and (max-width: 680px){
  .pageTitle {
    position: static !important;
    margin: 0;
    font-size: 72px !important;
  }
  form.search {
    margin: 0 !important;
    text-align: left !important;
  }
}


