@font-face {
  font-family: 'AlteHaasGroteskBold';
  src: url("http://geeklatte.com/font/AlteHaasGroteskBold.ttf") format("truetype"); }

@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
.altehaasgroteskbold, .pageTitle {
  font-family: AlteHaasGroteskBold, Arial, sans-serif; }

.berkshire, .title {
  font-family: 'Berkshire Swash', cursive; }

.reset, div, p, h1, footer, a img, body, html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
  font-weight: normal; }

.cf:before, .body:before, .footer:before,
.cf:after,
.body:after,
.footer:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after, .body:after, .footer:after {
  clear: both; }

.cf, .body, .footer {
  *zoom: 1; }

.hide {
  display: block;
  position: absolute;
  text-indent: -1000px; }

/* base elements */
a, a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none; }

img {
  vertical-align: bottom; }

/* base layout */
.loading .hide-on-js {
  opacity: 0; }

body {
  font-family: "ヒラギノ角ゴ ProN W3", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, verdana, "ＭＳ Ｐゴシック", sans-serif;
  font-size: small;
  margin: 2px; }

/* body */
.body {
  max-width: 1020px;
  margin: 0 auto;
  posigion: relative;
  color: #583822; }

.gradientbg {
  background-color: #f4ebd6;
  background: -moz-linear-gradient(315deg, white 25%, #f4ebd6 25%, #f4ebd6 50%, white 50%, white 75%, #f4ebd6 75%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, white), color-stop(0.25, white), color-stop(0.25, #f4ebd6), color-stop(0.5, #f4ebd6), color-stop(0.5, white), color-stop(0.75, white), color-stop(0.75, #f4ebd6), color-stop(1, #f4ebd6));
  -moz-background-size: 60px 60px;
  -webkit-background-size: 60px 60px;
  background-size: 60px 60px; }

/* header */
.pageTitle {
  position: absolute;
  top: -40px;
  z-index: -1;
  font-size: 120px;
  color: #583822; }

form.search {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 4px;
  text-align: right; }
  form.search input::-webkit-input-placeholder,
  form.search input:-moz-placeholder,
  form.search input[placeholder] {
    color: #f4ebd6; }
  form.search input {
    padding: 4px;
    width: 150px;
    border: 1px solid #f4ebd6;
    color: #583822;
    font-size: large; }

/* content */
.contentUnit {
  float: left;
  width: 480px;
  margin-left: 20px; }

.socialLink {
  float: left;
  margin: 10px 0 0;
  padding: 0; }
  .socialLink li {
    margin: 0;
    padding: 0 10px 0 0;
    list-style: none;
    float: left; }
  .socialLink a {
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -1000px; }
  .socialLink #gh {
    background: url(../img/social-icons.png) 0 0 no-repeat; }
  .socialLink #fr {
    background: url(../img/social-icons.png) 0 -96px no-repeat; }
  .socialLink #tw {
    background: url(../img/social-icons.png) 0 -64px no-repeat; }
  .socialLink #gp {
    background: url(../img/social-icons.png) 0 -32px no-repeat; }
  .socialLink #in {
    background: url(../img/social-icons.png) 0 -128px no-repeat; }

/* footer */
.footer {
  margin: 20px auto;
  padding: 20px 0;
  max-width: 1020px;
  background-color: white; }

/* latte layout */
.latte {
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  margin: 4px;
  border: 1px solid #f4ebd6 !important;
  padding: 0;
  overflow: hidden;
  border: 0;
  background-color: white; }
  .latte .entryImage {
    top: -27px;
    width: 160px; }

.latte:hover {
  box-shadow: 0 0 3px 1px #583822; }

.entryImage {
  position: absolute; }

.entryTitle {
  position: absolute;
  margin: 0;
  padding: 0 5px 0 0;
  bottom: 5px;
  left: 5px;
  color: white;
  font-size: x-small; }

/* media queries */
@media (max-width: 320px) {
  .pageTitle {
    position: static !important;
    font-size: 40px !important; }

  form.search {
    margin: 0 !important;
    text-align: left !important; }

  .latte {
    width: 146px;
    height: 146px; }
    .latte .entryImage {
      top: -24px;
      width: 146px; } }
@media (min-width: 321px) and (max-width: 680px) {
  .pageTitle {
    position: static !important;
    margin: 0;
    font-size: 72px !important; }

  form.search {
    margin: 0 !important;
    text-align: left !important; } }
