//======================================
// base
//======================================

//layout
$large-latte-size: 604px;
$latte-size: 300px;

//color
$white: #ffffff;
$coffee: #583822;
$aulait: #f4ebd6; 
$orange: #f8c992;

//font
$sans: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
$ja-sans: 'ヒラギノ角ゴ ProN W3','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,verdana,'ＭＳ Ｐゴシック',sans-serif;

@import url(http://fonts.googleapis.com/css?family=Condiment);
@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('http://geeklatte.omase.com/font/AlteHaasGroteskRegular.ttf') format('truetype');
}
@font-face {
  font-family: 'AlteHaasGroteskBold';
  src: url('http://geeklatte.omase.com/font/AlteHaasGroteskBold.ttf') format('truetype');
}

//styles
.reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-style: normal;
	font-weight: normal;
}


//======================================
// styles
//======================================

.loading {
    .hide-on-js {
        opacity: 0;
    }
}

body {
    font-family: $ja-sans;
		margin: 2px;
}
    
body, html {
    @extend .reset;
}
div, p, h1, footer, a img {
    @extend .reset;
}
a, a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}
img {
    vertical-align: bottom;
}

.gradientbg {
    background-color: $aulait;
    background: -moz-linear-gradient(315deg, $white 25%, $aulait 25%, $aulait 50%, $white 50%, $white 75%, $aulait 75%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, $white), color-stop(0.25, $white), color-stop(0.25, $aulait), color-stop(0.50, $aulait), color-stop(0.50, $white), color-stop(0.75, $white), color-stop(0.75, $aulait), color-stop(1, $aulait));
    -moz-background-size: 60px 60px;
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
}

.condiment {
    font-family: 'Condiment', cursive;
}
.altehaasgrotesk {
    font-family: AlteHaasGrotesk, Arial, sans-serif;    
}
.altehaasgroteskbold {
    font-family: AlteHaasGroteskBold, Arial, sans-serif;    
}

.largelatte {
	position: relative;
	float: left;
	width: $large-latte-size;
	height: $large-latte-size;
	margin: 2px;
	padding: 0;
	overflow: hidden;
	.entryImage {
		top: -100px;
		width: $large-latte-size;
	}
}
.latte{
	position: relative;
	float: left;
	width: $latte-size;
	height: $latte-size;
	margin: 2px;
	padding: 0;
	overflow: hidden;
	border: 0;
	background-color: $white;
	.entryImage {
		top: -50px;
		width: $latte-size;
	}
}
.entryImage {
	position: absolute;
}
.entryTitle {
	position: absolute;
	margin: 0;
	padding: 0 5px 0 0;
	bottom: 5px;
	left: 5px;
	color: $white;
	font-size: x-small;
}	


.loading h1 {
    right: -612px;
    span {
        background-position: 100% -40px; /* 下の画像に合わせてこれもスライドさせたいんだよォッッ逆方向にッッ */
    }
}
h1 {
    display: block;
    position: absolute;
    top: 40px;
    right: 0px;
    -webkit-transition: 0.3s;   
    background: $white;
    -webkit-border-top-left-radius: 4px;  
    -webkit-border-bottom-left-radius: 4px;  
    font-size: 70px;
    font-weight: bold;
    span {
        display: block;
        background-image: url(../img/droiko.jpg);
        background-position: 100% -40px;
        padding: 0 7px;
        line-height: 1.1;
        color: $white;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;        
    }
}
h1.siteTitle {
   font-size: 70px; 
}
h1.entryTitle {
    font-size: 24px;
}
#mainImage {
    -webkit-transition-delay: 0;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
}

p.msg {
    font-family: AlteHaasGrotesk, Arial, sans-serif;
    position: absolute;
    top: 558px;
    left: 8px;
    font-size: 28px;
    color: $white;
}

footer {
    margin: 0 auto 40px;
    width: $latte-size;
    font-size: 12px;
    img {
        margin-right: 5px;
        vertical-align: middle;
    }
    a {
        text-decoration: none;
        color: $coffee;
    }
    a:hover, a:active {
        text-decoration: underline;
    }
}
