
//layout
$latte-width: 612px;

//color
$white: #fff;
$coffee: #583822;

//font
$sans: Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
$ja-sans: 'ヒラギノ角ゴ ProN W3','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,verdana,'ＭＳ Ｐゴシック',sans-serif;

@import url(http://fonts.googleapis.com/css?family=Condiment);
@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url('http://geeklatte.omase.com/font/AlteHaasGrotesk.ttf') format('truetype');
}
@font-face {
  font-family: 'AlteHaasGroteskBold';
  src: url('http://geeklatte.omase.com/font/AlteHaasGroteskBold.ttf') format('truetype');
}

//styles
.reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-style: normal;
	font-weight: normal;
}


body {
    font-family: $ja-sans;   
}
body, html {
    @extend .reset;
}
div, p, h1, footer, a img {
    @extend .reset;
}
a, a:-webkit-any-link {
    cursor: pointer;
}
    
.condiment {
    font-family: 'Condiment', cursive;
}
.altehaasgrotesk {
    font-family: AlteHaasGrotesk, Arial, sans-serif;    
}
.altehaasgroteskbold {
    font-family: AlteHaasGroteskBold, Arial, sans-serif;    
}

h1 {
    font-weight: 400;
    font-size: 180px;
    color: $coffee;
    a {
        color: $coffee;
        text-decoration: none;
    }
    span {
        display: inline-block;
    }
    #tG {
        padding-right: 4px;
    }
    #tK {
        padding-right: 15px;
    }
    #tA {
        padding-left: 3px;
        padding-right: 3px;
    }
    #tT1 {
        padding-right: 3px;
    }
    #tT2 {
        padding-right: 3px;
    }
}

#latte {
    position: relative;
    width: $latte-width;
    margin: 15px auto;
    overflow: hidden;
}
h1 {
    display: block;
    position: absolute;
    top: 40px;
    right: 0px;
    background: $white;
    font-size: 70px;
    font-weight: bold;
    span {
        display: block;
        background: url(img/droiko.jpg) 100% -40px;
        padding: 0 7px;
        line-height: 1.1;
        color: $white;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;        
    }
}

p.msg {
    font-family: AlteHaasGrotesk, Arial, sans-serif;
    position: absolute;
    top: 558px;
    left: 8px;
    font-size: 28px;
    color: #fff;
}

footer {
    margin: 0 auto 40px;
    width: $latte-width;
    font-size: 12px;
    img {
        margin-right: 5px;
        vertical-align: middle;
    }
    a {
        text-decoration: none;
        color: #666;
    }
    a:hover, a:active {
        text-decoration: underline;
    }
}
