@import url(http://fonts.googleapis.com/css?family=Condiment);

body {
    font-family:'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','Osaka','メイリオ','Meiryo', Arial, sans-serif;    
}
body, html {
    margin: 0;
    padding: 0;
}
a img {
    border: 0;
}

.condiment {
    font-family: 'Condiment', cursive;
}

h1 {
    margin: 20px;
    padding: 0;
    font-weight: 400;
    font-size: 180px;
    color: #583822;
    a {
        color: #583822;
        text-decoration: none;
    }
    a, a:-webkit-any-link {
        cursor: pointer;
    }
    span {
        display: inline-block;
    }
    #tG {
        padding-right: 4px;
    }
    #tK {
        padding-right: 15px;
    }
    #tA {
        padding-left: 3px;
        padding-right: 3px;
    }
    #tT1 {
        padding-right: 3px;
    }
    #tT2 {
        padding-right: 3px;
    }
}

figure {
    margin: 15px auto;
    position: relative;
    width: 612px;
    overflow: hidden;
}


figcaption {
    display: block;
    position: absolute;
    top: 40px;
    right: 0px;
    padding: 0;
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 70px;
    font-weight: bold;
}

figcaption span {
    display: block;
    background: url(http://farm8.staticflickr.com/7033/6799064857_7a0b0fe0c8_o.jpg) 100% -40px;
    padding: 0;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

