@import url(http://fonts.googleapis.com/css?family=Condiment);
@font-face {
  font-family: 'AlteHaasGrotesk';
  src: url("http://geeklatte.omase.com/font/AlteHaasGrotesk.ttf") format("truetype"); }

@font-face {
  font-family: 'AlteHaasGroteskBold';
  src: url("http://geeklatte.omase.com/font/AlteHaasGroteskBold.ttf") format("truetype"); }

body {
  font-family: 'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','Osaka','メイリオ','Meiryo', Arial, sans-serif; }

body, html {
  margin: 0;
  padding: 0; }

a img {
  border: 0; }

.condiment {
  font-family: 'Condiment', cursive; }

.altehaasgrotesk {
  font-family: AlteHaasGrotesk, Arial, sans-serif; }

.altehaasgroteskbold {
  font-family: AlteHaasGroteskBold, Arial, sans-serif; }

h1 {
  margin: 20px;
  padding: 0;
  font-weight: 400;
  font-size: 180px;
  color: #583822; }
  h1 a {
    color: #583822;
    text-decoration: none; }
  h1 a, h1 a:-webkit-any-link {
    cursor: pointer; }
  h1 span {
    display: inline-block; }
  h1 #tG {
    padding-right: 4px; }
  h1 #tK {
    padding-right: 15px; }
  h1 #tA {
    padding-left: 3px;
    padding-right: 3px; }
  h1 #tT1 {
    padding-right: 3px; }
  h1 #tT2 {
    padding-right: 3px; }

#latte {
  position: relative;
  width: 612px;
  margin: 15px auto;
  padding: 0;
  overflow: hidden; }

h1 {
  display: block;
  position: absolute;
  top: 40px;
  right: 0px;
  margin: 0;
  padding: 0;
  background: #fff;
  font-size: 70px;
  font-weight: bold; }
  h1 span {
    display: block;
    background: url(http://farm8.staticflickr.com/7033/6799064857_7a0b0fe0c8_o.jpg) 100% -40px;
    padding: 0 7px;
    line-height: 1.1;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }

p.msg {
  font-family: AlteHaasGrotesk, Arial, sans-serif;
  position: absolute;
  top: 558px;
  left: 8px;
  margin: 0;
  padding: 0;
  font-size: 35px;
  color: #fff; }

footer {
  margin: 0 auto 40px;
  padding: 0;
  width: 612px;
  font-size: 12px; }
  footer img {
    margin-right: 5px;
    vertical-align: middle; }
  footer a {
    text-decoration: none;
    color: #666; }
  footer a:hover, footer a:active {
    text-decoration: underline; }
